@font-face {
    font-family: "MagicSchool";
    src: url('../fonts/MagicSchool.ttf');
}

@font-face {
    font-family: "BramblePrincess";
    src: url("../fonts/BramblePrincess.ttf");
}

@font-face {
    font-family: "Sectar";
    src: url("../fonts/Sectar.otf");
}

@font-face {
    font-family: "Heroes";
    src: url("../fonts/Heroes.ttf");
}

@font-face {
    font-family: "Wings_of_Darkness";
    src: url("../fonts/Wings_of_Darkness.ttf");
}

#pause {
    background: none !important;
    bottom: 20%;
}

#pause img {
    top: -74px;
    left: calc(50% - 128px);
    height: 256px;
    width: 256px
}

#pause h3 {
    color: #ed1b24; 
    font-family: "Sectar";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}