@font-face {
    font-family: "MagicSchool";
    src: url('../fonts/MagicSchool.ttf');
}

@font-face {
    font-family: "BramblePrincess";
    src: url("../fonts/BramblePrincess.ttf");
}

@font-face {
    font-family: "Sectar";
    src: url("../fonts/Sectar.otf");
}

@font-face {
    font-family: "Heroes";
    src: url("../fonts/Heroes.ttf");
}

@font-face {
    font-family: "Wings_of_Darkness";
    src: url("../fonts/Wings_of_Darkness.ttf");
}

#pause {
    background: none !important;
}

#pause img {
    top: -16px;
    left: calc(50% - 64px);
    height: 128px;
    width: 128px;
}

#pause h3 {
    color: #ed1b24; 
    font-family: "Sectar";
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 120%;
}

.esconde {
    display: none !important;
}

.fundoFicha {
    background-image: url("/modules/xaura-module/assets/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}